<template>
  <div>
    <Header />

    <div class="container">
    </div>
    <div class="container">
      <h3 class="text-xl text-gray-500 font-semibold mx-8">TODOS</h3>
    </div>

    <div class="mt-8">
      <div class="mx-8 mb-8">
        <img
          class="object-cover w-full h-56"
          src="../assets/banner.jpg"
          alt
          srcset
        />
      </div>
      
      <div class="product-container mx-8 flex flex-wrap">
        <Product
          v-for="product in products"
          :key="product.id"
          :title="product.title"
          :body="product.body"
        />
      </div>
    </div>

    <Footer />
  </div>
</template>

<style lang="css">
</style>

<script>
import Header from "../components/Header";
import Footer from "../components/Footer";
import Product from "../components/Product";
export default {
  props: {
    message: String,
  },
  data() {
    return {
      auth: false,
      result: "",
      products: null
    };
  },
  async created() {
    var token = localStorage.getItem("token");
    if (token) {
      this.auth = true;
      this.products = await this.callApi(
        "get",
        "todos",
        {},
        {
          Authorization: "Bearer " + token,
        }
      );
      if (this.products) {
        if (this.products.status == 400 || this.products.status == 401) {
          return;
        }
        this.products = this.products.data;
      }
    }
  },
  components: {
    Header,
    Footer,
    Product,
  },
};
</script>