<template>
  <router-link
    :to="''"
    class="product w-48 border rounded p-2 mr-2 hover:shadow-md cursor-pointer"
  >
    <p class="font-semibold text-blue-900">{{ title }}</p>
    <br>
    <p class="text-gray-500">Todos : {{ body }}</p>
  </router-link>
</template>

<script>
export default {
  // props: {
  //     image_url: String,
  //     name: String,
  //     price: String,
  //     id: Number,
  // },
  props: {
    id: Number,
    title: String,
    body: String,
    completed: Boolean,
  },
  data() {
    return {};
  },
};
</script>